@import './variables.scss';

.header{
    padding: 0 10px 0 5px;
    display: grid;
    grid-area: header;
    grid-template-columns: 60px 2fr minmax(0px, 4fr) 2fr 2fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    background: $color-five;


    &__logo{
      height: 60px;
      pointer-events: none;

      img{
        min-height: 40px;
        height: 100%;
      }
    }


    &__title{
      justify-self: start;
      font-size: calc(var(--index) * 1.5);
    }


    &__addNote{
      grid-column: 4;


      button{
        position: relative;
        padding: 10px;
        border-radius: 5px;
        line-height: 1;
        color: $color-four;
        background: $color-one;

        &:hover{
          top: 0.5px;
          box-shadow: 0 0 2px #000;
        }
      }
    }


    &__searchNote{
      input{
        padding: 5px;
        border-radius: 5px;
        color: $color-four;
        &::placeholder{
          color: $color-four;
        }
      }
    }
}

@media (prefers-reduced-motion: no-preference) {
  .header__logo {
    animation: header__logo_spin infinite 20s linear;
  }
}
@keyframes header__logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
