@import "variables.scss";

.modal {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;

	&__header {
		font-size: $fz-title;
		color: $color-four;
		text-align: center;
	}

	&__buttons{
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__button {
		padding: 10px;
		border-radius: 5px;
		background: $color-six--success;

	}
	&__button_delete {
		background: $color-seven--failed;
	}

}

.modal__body {
	padding: 15px;
	display: flex;
	flex-direction: column;
	width: calc(10vw + 20em);
	height: auto;
	border-radius: 20px;
	background: $color-one;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}