@import "variables.scss";
.notes{
	width: 100vw;
	grid-area: main;
  	display: grid;
  	padding: 10px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: minmax(250px, 400px);
  	gap: 10px;

 	@include scroll;
}

@media (max-width: 600px) {
	.notes{
		grid-auto-rows: minmax(200px, 300px);
	}
}

.note {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background: $color-three;
	cursor: pointer;
}

