$color-one: #F7F9FB;
$color-two: #8FC1E3;
$color-three: #5085A5;
$color-four: #31708E;
$color-five: #687864;
$color-six--success: #88d56d;
$color-seven--failed: #da3c3c;

$fz-title: 2em;
$fz-text: 20px;


@mixin scroll() {
	overflow-y: overlay;
	scrollbar-width: 3px;
	scrollbar-color: $color-two transparent;

	&::-webkit-scrollbar {
		width: 4px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background: $color-two;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255,255,255,.5);
	}
}

:root {
	--index: calc(1vh + 1vw);
}
